openapi: 3.2.0
info:
  title: Akool Open Talking Avatar API
  description: The Akool OpenAPI exposes Akool's generative AI video and image tools over HTTPS REST under https://openapi.akool.com.
  version: '1.0'
  contact:
    name: Akool
    url: https://akool.com
  x-authored-by: API Evangelist
  x-source: https://docs.akool.com
servers:
- url: https://openapi.akool.com
  description: Akool OpenAPI
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Talking Avatar
  description: Generate a speaking avatar video from text or audio.
paths:
  /api/open/v3/talkingavatar/create:
    post:
      operationId: createTalkingAvatar
      tags:
      - Talking Avatar
      summary: Create a talking avatar video
      description: Generate a speaking avatar video. Provide an avatar_id (from the avatar list), a voice_id, and input_text, or a pre-generated audio url that takes precedence over input_text. Poll status with the video info endpoint using the returned _id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TalkingAvatarRequest'
      responses:
        '200':
          description: Task accepted; contains _id and video_status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTask'
components:
  schemas:
    TalkingAvatarRequest:
      type: object
      properties:
        avatar_from:
          type: integer
          description: 2 for official Akool avatars, 3 for user-provided.
        avatar_id:
          type: string
        voice_id:
          type: string
        input_text:
          type: string
        url:
          type: string
          description: Optional pre-generated audio URL; takes precedence over input_text.
        width:
          type: integer
        height:
          type: integer
    VideoTask:
      type: object
      description: Common asynchronous video task envelope.
      properties:
        code:
          type: integer
          description: 1000 indicates success.
        _id:
          type: string
          description: Task id used to poll status.
        video_status:
          type: integer
          description: 1=queueing, 2=processing, 3=completed, 4=failed.
        video:
          type: string
          description: Result video URL, available when video_status is 3.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token minted from clientId / clientSecret via POST /api/open/v3/getToken. Passed as `Authorization: Bearer {token}`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Direct API key passed as the `x-api-key` header (no token step required).
