openapi: 3.2.0
info:
  title: Akool Open Image Generation API
  description: The Akool OpenAPI exposes Akool's generative AI video and image tools over HTTPS REST under https://openapi.akool.com.
  version: '1.0'
  contact:
    name: Akool
    url: https://akool.com
  x-authored-by: API Evangelist
  x-source: https://docs.akool.com
servers:
- url: https://openapi.akool.com
  description: Akool OpenAPI
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Image Generation
  description: Text-to-image and image-to-image generation.
paths:
  /api/open/v4/content/image/createBySourcePrompt:
    post:
      operationId: createImageBySourcePrompt
      tags:
      - Image Generation
      summary: Generate an image (text-to-image / image-to-image)
      description: Generate images from a text prompt, optionally conditioned on source_images for image-to-image. Controls include model_name, scale (aspect ratio), resolution (1080p or 4k), and batch_quantity (1-4). Poll status with the image info endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerateRequest'
      responses:
        '200':
          description: Task accepted; contains _id and image_status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageTask'
  /api/open/v3/content/image/infobymodelid:
    get:
      operationId: getImageInfoByModelId
      tags:
      - Image Generation
      summary: Poll image status
      description: Retrieve image generation status and result URL by image_model_id.
      parameters:
      - name: image_model_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Current status and result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageTask'
components:
  schemas:
    ImageGenerateRequest:
      type: object
      required:
      - prompt
      properties:
        prompt:
          type: string
        model_name:
          type: string
        source_images:
          type: array
          description: URLs for image-to-image transformation.
          items:
            type: string
        scale:
          type: string
          description: Aspect ratio such as 1:1, 16:9, 4:3.
        resolution:
          type: string
          description: 1080p or 4k.
        batch_quantity:
          type: integer
          description: 1-4 images per request.
    ImageTask:
      type: object
      description: Common asynchronous image task envelope.
      properties:
        code:
          type: integer
        _id:
          type: string
        image_status:
          type: integer
          description: 1=queueing, 2=processing, 3=completed, 4=failed.
        deduction_credit:
          type: number
          description: Credits deducted for the request.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token minted from clientId / clientSecret via POST /api/open/v3/getToken. Passed as `Authorization: Bearer {token}`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Direct API key passed as the `x-api-key` header (no token step required).
