openapi: 3.2.0
info:
  title: Akool Open Talking Photo API
  description: The Akool OpenAPI exposes Akool's generative AI video and image tools over HTTPS REST under https://openapi.akool.com.
  version: '1.0'
  contact:
    name: Akool
    url: https://akool.com
  x-authored-by: API Evangelist
  x-source: https://docs.akool.com
servers:
- url: https://openapi.akool.com
  description: Akool OpenAPI
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: Talking Photo
  description: Animate a still portrait into a talking video.
paths:
  /api/open/v3/content/video/createbytalkingphoto:
    post:
      operationId: createByTalkingPhoto
      tags:
      - Talking Photo
      summary: Create a talking photo video
      description: Animate a still portrait (talking_photo_url) with an audio track (audio_url). Optional prompt controls gestures; resolution is 720p or 1080p; webhookUrl receives an encrypted completion callback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TalkingPhotoRequest'
      responses:
        '200':
          description: Task accepted; contains _id and video_status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTask'
  /api/open/v3/content/video/infobymodelid:
    get:
      operationId: getVideoInfoByModelId
      tags:
      - Talking Photo
      summary: Poll video status
      description: Retrieve the status and result URL of a talking photo (or other content video) task by its model id. Returns video_status and, once completed, the video URL.
      parameters:
      - name: video_model_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Current status and result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoTask'
components:
  schemas:
    VideoTask:
      type: object
      description: Common asynchronous video task envelope.
      properties:
        code:
          type: integer
          description: 1000 indicates success.
        _id:
          type: string
          description: Task id used to poll status.
        video_status:
          type: integer
          description: 1=queueing, 2=processing, 3=completed, 4=failed.
        video:
          type: string
          description: Result video URL, available when video_status is 3.
    TalkingPhotoRequest:
      type: object
      required:
      - talking_photo_url
      - audio_url
      properties:
        talking_photo_url:
          type: string
        audio_url:
          type: string
        prompt:
          type: string
        resolution:
          type: string
          description: 720p or 1080p (default 720p).
        webhookUrl:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token minted from clientId / clientSecret via POST /api/open/v3/getToken. Passed as `Authorization: Bearer {token}`.'
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Direct API key passed as the `x-api-key` header (no token step required).
